# deps
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
.turbo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.DS_Store

# test
coverage/

# nest
.eslintcache

# supabase
supabase/.temp/
supabase/.branches/
